-if hours.size > 0
  %table.table.table-striped
    %thead
      %tr
        %th Clinic
        %th Hour
        
    %tbody
      - hours.each_with_index do |hour, i|
        %tr
          %td= clinic_names[i]
          %td= hour.time.strftime('%H:%M')
- else
  %p No free appointments for this day