.container
  %h1 Editing appointment
  
  .jumbotron
    = render 'form'
    
    = link_to 'Show', @appointment, :class => "btn btn-default"
    = link_to 'Back', appointments_path, :class => "btn btn-default"
