%header.navbar.navbar-inverse
  .container
    =link_to "eClinic", root_path, :class => "navbar-brand"
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if patient_signed_in? or doctor_signed_in? or admin_signed_in?
          - if current_patient
            = render 'layouts/patient_header'
          - if current_doctor
            = render 'layouts/doc_header'
          - if current_admin
            = render 'layouts/admin_header'