%li=link_to "Doctors", doctors_path
%li=link_to "Clinics", clinics_path
%li=link_to "Appointments", appointments_path
%li.dropdown
  %a.dropdown-toggle{ :id => "menu1", "data-toggle" => "dropdown", :href => "#", :type => "button" }
    =current_patient.email
    %span.caret
  %ul.dropdown-menu{ :role => "menu", "aria-labelledby" => "menu1" }
    %li=link_to "Edit account", edit_patient_registration_path
    %li=link_to "Sign out", destroy_patient_session_path, :method=>'delete'